<!DOCTYPE html>
<html lang="sl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DANES JE NOV URL</title>
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1><a href="/short">Danes je nov URL</a></h1>
        <h2>
          Reading Pornhub's terms of service, going for a drive and obeying all
          the traffic laws in Grand Theft Auto V. Full agoraphobic, losing
          focus, cover blown; a book on getting better hand-delivered by a
          drone. Total disassociation, fully out your mind; googling
          derealization, hating what you find. That unapparent summer air in
          early fall; the quiet comprehending of the ending of it all.
        </h2>
      </div>
    </header>
    <main>
      <div class="container">{% block content %}{% endblock %}</div>
    </main>
  </body>
</html>
