{% extends "_base.html" %}

{% block content %}
<div class="shortener">
  <h3>Da se mi da URL</h3>
  <form class="box">
    <input type="url" class="url-input" required autofocus />
    <button class="btn-shorten">
      <span>Pošortnaj</span>
      <img
        src="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%2231.957%2035.93%2066.358%2055.2%22%3E%0A%20%20%3Cpath%20d%3D%22m68.357%2040.73%2019.7%2019.8h-53.1a3%203%200%200%200%200%206h53.1l-19.7%2019.8a3%203%200%200%200%204.2%204.2l24.9-24.9a3%203%200%200%200%200-4.2l-24.9-24.9a3%203%200%200%200-4.2%204.2z%22%2F%3E%0A%3C%2Fsvg%3E%0A"
        alt=""
      />
    </button>
  </form>
</div>

<script type="module">
  const form = document.querySelector(".box");
  const urlInput = form.querySelector(".url-input");
  const shortenButton = form.querySelector(".btn-shorten");

  let state = null;

  async function postDataToServer(data = {}) {
    const response = await fetch("/_shorten_link", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify(data),
    });
    return [response.ok, await response.json()];
  }

  form.addEventListener("submit", async (event) => {
    event.preventDefault();

    if (state === "loading") {
      return;
    }

    if (state === "success") {
      urlInput.value = "";
      shortenButton.querySelector("span").textContent = "Pošortnaj";
      state = null;
      return;
    }

    shortenButton.disabled = true;
    state = "loading";

    const [ok, data] = await postDataToServer({
      destination: urlInput.value,
    });

    if (ok) {
      const { protocol, hostname } = new URL(window.location);
      const shortenedURL = `${protocol}//${hostname}/${data.alias}`;
      urlInput.value = shortenedURL;
      urlInput.select();
      document.execCommand("copy");

      state = "success";
      shortenButton.querySelector("span").textContent = "Resetiraj";
      shortenButton.disabled = false;
    } else {
      urlInput.value = "";
      console.error("Error!", data);

      state = "error";
      shortenButton.querySelector("span").textContent = "Napaka :(";
    }
  });
</script>
{% endblock %}
